<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Your Project{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'pszczelbudlogov1.png' %}" alt="Logo"
                                                       style="height: 80px ; width: 80px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_login' %}">Login</a>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' user.user.id %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
        </li>
      {% endif %}
    </ul>

  </div>
</nav>

<div class="container mt-5">
  {% block content %}
  {% endblock %}
</div>

<!-- Bootstrap JS and dependencies (optional, for some Bootstrap components) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
